[submodule "auction-contract"]
	path = auction-contract
	url = https://github.com/apa-nft/auction-contract
[submodule "lib\\openzeppelin-contracts"]
	path = lib\\openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
